<!DOCTYPE html>
<html>
<head>
  <style>
      body {
          background-color: black;
      }

      h1 {
          color: orange;
          text-align: center;
      }

      h2 {
          color: red;
          text-align: center;
      }
      h3 {
          color: red;
          font-size: 25px;
      }
      p {
          font-family: "Times New Roman";
          font-size: 20px;
          text-align: center;
          color: white;
          image-align: center;
      }
      p1 {
          font-family: "Times New Roman";
          font-size: 20px;
          color: gray;
      }
  </style>
  <title>Jay Cutler</title>
</head>
<body>

<h1>Welcome to the Advance level training plan</h1>
<%= image_tag("jay-culter.png", :alt => "Living Large") %>
<h2>
  Living Large: Jay Cutler's 8-Week Mass-Building Trainer
</h2>
<p>This is your chance to lift, eat, and live like a legend. It's a master class in building badass mass. Step into the life of Jay Cutler and build your best body.<br></p>
<p1>
  Living Large is unlike anything you've ever experienced. It's a week in the life of four-time Mr. Olympia Jay Cutler, but it's more than an exclusive, candid documentary. It's also a complete muscle-building program merging Jay's best workouts with his personal nutrition plan and supplement schedule. It's a raw look at Jay's life and an eight-week mass trainer. It's your chance to eat, train, and live like a legendary bodybuilder.<br>
</p1>
<p><%= image_tag("jay cutler.jpg", :alt => "Jay Cutler") %></p>
<h2>SCHEDULE / TRACK / SUCCEED<br></h2>
<table style="width:80%">
  <tr>
    <td><p1>Day1</p1></td>
    <td><p1>Day2</p1></td>
    <td><p1>Day 3</p1></td>
    <td><p1>Day 4</p1></td>
    <td><p1>Day 5</p1></td>
    <td><p1>Day 6</p1></td>
    <td><p1>Day 7</p1></td>
  </tr>
  <tr>
    <td><p1>CHEST</p1></td>
    <td><p1>ARMS</p1></td>
    <td><p1>REST</p1></td>
    <td><p1>BACK</p1></td>
    <td><p1>SHOULDERS</p1></td>
    <td><p1>LEGS</p1></td>
    <td><p1>REST</p1></td>
  </tr>

</table>
</body>
</html>
