<!DOCTYPE html>
<html>
<head>
  <style>
      body {
          background-color: black;
      }

      h1 {
          color: orange;
          text-align: center;
      }

      p {
          font-family: "Times New Roman";
          font-size: 15px;
          color: gray
      }
      p1 {
          font-family: "Times New Roman";
          font-size: 20px;
          color: white
      }
  </style>
  <title>Steve Cock</title>
</head>
<body>

<h1>Welcome to the Beginner level training plan</h1>
<img src="big-man.png" alt="Steve Cock" style="width:100%;height:400px;">
<p1>If you want to be the Big Man on Campus, you're in the right class. This 12-week muscle-building course will teach you how to train for maximum gains, eat well on a budget, supplement wisely, successfully manage your time, and juggle the demands of college life. I'll help you lift, learn, and transform. If you want to train smart, this is where you start. Let's grow.<br><br>
  Get bigger, stronger and more confident with my personal muscle-building plan. Big Man on Campus has all the materials you need to succeed: five additional video classes, four workout videos, daily on-page workouts, printable logs, nutrition tools, and more. Come to class, hit the weights with everything you've got, and you're guaranteed an A.<br><br>
  <img src="n.png" alt="Steve Cock" style="width:100%;height:400px;">
  <img src="steve.png" alt="Steve Cock" style="width:500px;height:769px;">
  Hi. I,m Steve Cock and I'm here to train you to be your own hero.<br><br>
  START YOUR JOURNEY
</p1>
<table style="width:80%">
  <tr>
    <td><%= link_to 'Day 1', body_builder_mon_path%></td>
    <td><%= link_to 'Day 2', body_builder_tue_path%></td>
    <td><p>Day 3</p></td>
    <td><%= link_to 'Day 4', body_builder_thu_path%></td>
    <td><%= link_to 'Day 5', body_builder_fri_path%></td>
    <td><p>Day 6</p></td>
    <td><p>Day 7</p></td>
  </tr>
  <tr>
    <td><p>CHEST, TRICEPS AND<br> ABS</p></td>
    <td><p>BACK, BICEPS AND<br> CALVES</p></td>
    <td><p>CARDIO</p></td>
    <td><p>QUADS, HAMSTRINGS<br> AND ABS</p></td>
    <td><p>SHOULDERS, TRAPS<br> AND CALVES</p></td>
    <td><p>CARDIO</p></td>
    <td><p>ACTIVE REST</p></td>
  </tr>

</table>




</body>
</html>
