<!DOCTYPE html>
<html>
<head>
  <style>
      body {
          background-color: black;
      }

      h1 {
          color: orange;
          text-align: center;
      }

      p {
          font-family: "Times New Roman";
          font-size: 27px;
          color: red;
      }
      p1 {
          font-family: "Times New Roman";
          font-size: 20px;
          color: gray;
      }
      p2 {
          font-family: "Times New Roman";
          font-size: 20px;
          color: white;
      }
      p3 {
          font-family: "Times New Roman";
          font-size: 18px;
          color: white;
      }
  </style>
  <title>Killer ABS</title>
</head>
<body>

<h1>Welcome to the Abs training plan</h1>
<%= image_tag("workouts.jpg", :alt => "Abs") %>
<p>
  You won't develop a head-turning midsection until you understand the 5 critical steps to maximizing your ab workouts!<br></p>

<p1>Don't be fooled by TV infomercials or gimmicky "beach-body abs" plans: You can't just hammer your midsection with a few crunches every day and expect killer results! Carving a set of summer-ready, cover-worthy abs takes an intelligent, strategic approach.<br></p1>
<p2><br>
  There are a number of factors to consider when training for a truly ripped six-pack:<br><br>

  => The abs have a higher percentage of slow-twitch muscle fibers than other skeletal muscle groups, but they still need heavy work in the lower rep ranges.<br>
  => Because the abs include so many different muscle groups, smart exercise selection is essential for complete development.<br>
  => Even the strongest abs can easily get covered by excess body fat, so an effective diet that cuts fat and spares muscle is essential.<br>
  => Cardio will speed your fat-loss efforts, but some kinds are superior to others.<br>
  => Ab workouts should get more challenging as you get stronger, so a true six-pack plan should have built-in progression.<br><br>
</p2>

<p1>(1)MIND ALL YOUR MUSCLE FIBERS<br><br></p1>
<p3>
  The abs—much like the calves and forearms—are capable of working for extended periods of time, albeit at a low intensity. In fact, your core muscles contract to keep you standing upright all day long. To keep up with these demands, your abs are built on low-intensity, high-endurance muscle fibers that do not grow larger in response to training, but instead grow more aerobically efficient in response to high reps.<br><br>

  In fact, according to an early study published in the Journal of Acta Physiologica, there's very little difference in fiber composition between the rectus abdominis, obliques, and transverse abdominis. Among those different abdominal-muscle groups, 55-58 percent are comprised of Type I, or slow twitch, muscle fibers.1<br><br>

  To challenge and fully train all the muscle fibers that make up your abdominals, both fast- and slow-twitch, you need a routine that accounts for low-rep, moderate-rep, and high-rep training. You can't work your way to a six-pack with just high-rep bodyweight crunches, but you can't ignore your slow-twitch fibers, either.<br><br>

  The same aforementioned study also showed that 15-23 percent of your abs are comprised of Type IIa fibers, and another 21-28 percent are Type IIx. Both of these are fast-twitch fiber types. Given that fast-twitch fibers grow in response to training, your training protocol should target them. To build up the ridges that define three-dimensional abs, you need to do weighted ab movements for lower reps, about 8-10, while training to failure.<br><br>

  For complete development, this workout starts with weighted, low-rep moves to help build up your six-pack, then follows up with high-rep bodyweight exercises to help keep your midsection lean and tight. Your abs don't just get worked with low and high reps, but with a complete range of reps, which you progress though over the course of your workout. This ensures you train all the muscle fibers in your midsection.<br><br>
</p3>
<p3>
  <p1>(2)SELECT THE RIGHT EXERCISES<br><br></p1>
  You can also target certain parts of your midsection with exercise selection, which is another essential component of complete abdominal development. For example, when you plant your lower body in a fixed position and bring your upper torso toward it in a crunching motion, reducing the distance between your ribcage and pelvis, you emphasize the upper end of the rectus abdominis, or your upper abs. Conversely, when your upper body is stabilized and you raise your feet (and rotate your pelvis), you put the greatest workload on your lower abs.<br><br>

  This is not to say you can isolate one area, but you can emphasize different areas. Your obliques, for example, are active during torso rotation and when working in the lateral plane, as when doing side bends. Targeting the distinct areas of your abdominals with effective exercises will ensure full growth. But which exercises are best?<br>
  <%= image_tag("six-pack.jpg", :alt => "Cable Crunch") %>
  <p3>Cable Crunch<br><br><br>
    EMG studies give us clues as to what kinds of exercises are better at targeting the abs. In one study, the Ab Flex—a simple contraption that has you lie of the floor, place your hands on pads, and perform basic crunches—was better at targeting the upper abs than other exercises in the study. The same study found that the basic crunch was superior for hitting both the upper and lower abs.2<br><br>

    In the end, the perfect ab workout combines challenging low-rep movements with the best higher-rep ones. In addition, you should rotate among the target areas that come first in your workout. That is, choose a lower-ab movement to start your workout one day, and an upper-ab movement the next. Rotate among the exercises that get hit with low, moderate, and high reps to ensure all areas of the midsection are hit with multiple intensities for better overall growth.<br><br>

    <%= image_tag("pack_09.jpg", :alt => "Cardio") %>
    HIT YOUR CARDIO<br><br>
    <%= image_tag("steps-to-a-killer-six-pack.jpg", :alt => "Hanging Leg Raise") %>
    HANGING LEG RAISE

  </p3>
</body>
</html>
