<!DOCTYPE html>
<html>
<head>
  <style>
      body {
          background-color: black;
      }

      h1 {
          color: orange;
          text-align: center;
      }

      p {
          font-family: "Times New Roman";
          font-size: 40px;
          text-align: center;
          color: red;
          image-align: center;
      }
      p2 {
          font-family: "Times New Roman";
          font-size: 25px;
          text-align: center;
          color: gray;
      }
      p1 {
          font-family: "Times New Roman";
          font-size: 20px;
          color: white;
      }
      img {
          width:100%;

      }
  </style>
  <title>Arnold's Lagacy</title>
</head>
<body>

<h1>Arnold Schwarzenegger Blueprint Trainer: Legacy</h1>
<%= image_tag("Lag.png", :alt => "Lagacy") %><br>

<p2>Arnold's legacy, physique, and success are products of his unique vision and drive. Read to learn how to apply Arnold's bodybuilding insights to your own life.<br><br></p2>
<p1>
  Many of us have fuzzy visions of our future. Even as adults, we often struggle to decide who we want to be, what we want to do, and what kind of blueprint we want to leave behind. Arnold Schwarzenegger, however, knew from a young age exactly who he wanted to become. He wanted not to be a great bodybuilder, but the very best. He visualized it, he worked for it, and he actualized it.<br>

  This is how Arnold turned dreams into reality. Follow in his footsteps, learn from his hard work, and build your own legacy.<br>
</p1>
<p>THE POWER OF VISION<br></p>

<p1>"I've always believed that, in order to be motivated or work really hard, you need to have a vision," Arnold Schwarzenegger says. After first seeing world champion weightlifters as a boy, and then watching Tommy Kono win the Mr. Universe contest in 1961, Arnold's vision came into focus. "Seeing all those muscles and all that strength had a profound impact on me."<br>

  At the age of 15, Arnold was determined to train seriously as a bodybuilder. "I started looking at muscular, heroic guys and picked up a magazine that had Reg Park as Hercules on the cover." In the magazine was a blueprint of Reg's life and how he became Mr. Universe. That magazine became the pathway for Arnold's future success. "If I ever was lost about what to do in life, that feeling was gone. I now had a direction."<br><br>
</p1>
<p><%= image_tag("vis.jpg", :alt => "Vision") %><br></p>
<p1>"I realized then that I have a special ability that can't be trained for," explains Arnold. "It's an ability of visualizing things very clearly." Instead of seeing Reg Park on the podium in London, Arnold saw himself. "I saw hundreds of bodybuilders around and I was elevated with the trophy in my hands, celebrating with thousands of people screaming my name."<br><br></p1>

<p>VISION TO REALITY<br></p>

<p1>Arnold's vision of victory motivated him more than anything. "It drove me to the gym," he says. "It was so strong that I didn't really need discipline—it just took me to the gym to train every day. I knew that every workout that I did from then on would take me one step closer to turning this beautiful vision into reality."<br>

  Arnold's vision ran bone deep. "My life became nothing but Mr. Universe, training, and sculpting." He stayed focused, never losing sight of that original dream.<br>

  At the age of 20, Arnold achieved his goal, becoming the youngest Mr. Universe ever. Instead of basking in the glory and resting on his laurels, Arnold pushed harder. "I felt that I was, without any doubt, the new hope in bodybuilding, but I didn't feel that I had arrived where I wanted to be. Being Mr. Universe is like winning the Golden Gloves or the Olympics in boxing: it's great, but it's far away from being the best fighter."<br><br>
</p1>
<p><%= image_tag("Real.jpg", :alt => "Reality") %><br></p>
<p1>Arnold didn't want to be a great bodybuilder; he wanted to be the best. "I realized that it would take me some time, and that there were bodybuilders in America—guys like Serge Nubret and Dave Draper— who were extraordinary. They were more ripped, more defined, [and] even their posing was more sophisticated."<br>

  Despite acknowledging that there were better bodybuilders, Arnold also knew that he was in the spring of his career: "I had the best potential. I was very young, much younger than all of them."

  At 21, Arnold moved to the United States, and people immediately took notice. "They were whispering about me. They were saying: 'This is the guy from Austria. He's the guy with the 21-inch arms. He's the guy who is already deadlifting 700 pounds.'" This only cemented Arnold's self-confidence. He knew he had made the right move, despite certain difficulties.<br>

  "I could barely communicate. I couldn't watch the news or read a newspaper yet," he says. "So, I felt kind of blocked from the outside world. I felt lonely. And to have this kind of love, this kind of inclusion from bodybuilders that didn't know me at all, was extraordinary. I was received with open arms. I will never forget that."<br><br></p1>

<p>BETTER IS NEVER GOOD ENOUGH<br></p>
<p><%= image_tag("Better.jpg", :alt => "Better") %><br></p>

<p1>All bodybuilders strive for perfection. In his competitive days, Arnold was no different. "I never felt that I reached my 100 percent potential. I think everyone feels that way. I felt that I wanted to have bigger triceps, I wanted one-inch bigger thighs, and I wanted more definition in my abs. I also felt that I wanted to build my lats even lower so they tied into the waist. I've always worked on that."<br>


  Arnold's successful bodybuilding career was built upon fine-tuning and attempting to perfect small physical details. "If I had clay, I could actually show to the world where I wanted to make improvements. When it comes to the last months before a competition, you can take that mass and chisel it down and work the details."<br>

  Creating these details kept Arnold hungry and fueled his vision."We would take photographs like fanatics," he says. "Franco Columbu would take pictures of me, and I would take pictures of him. We would compare shots so we could see improvements and problem areas."<br>

  Those problem areas became another driving force behind Arnold's training. "If you train smart, you know the inventory of exercises you have for every single weak point. You say to yourself, 'I still need to see the separation between my abs, and the intercostals, and the serratus that then connects to the lats. How do I do that?'<br>

  "Knowing the exercises and equipment you have available will allow you to set your course. So you do exercises like close-grip chin-ups, pull-overs, leg-raises, and crunching exercises.<br>

  "Do the training, eat the right way, and you'll hit those marks. Then you move the bar higher and higher," says Arnold. "That's what differentiates the winner from the loser.<br>

  "With hard work, you can achieve your goals and you can become successful. This is the great thing about bodybuilding. If you get good at it and accomplish your goals, you know you can use the same principles for everything else in life."<br><br></p1>


</body>
</html>
