<!DOCTYPE html>
<html>
<head>
  <style>
      body {
          background-color: black;
      }

      h1 {
          color: orange;
          text-align: center;
      }

      p {
          font-family: "Times New Roman";
          font-size: 40px;
          text-align: center;
          color: red;
          image-align: center;
      }
      p2 {
          font-family: "Times New Roman";
          font-size: 25px;
          text-align: center;
          color: gray;
      }
      p1 {
          font-family: "Times New Roman";
          font-size: 20px;
          color: white;
      }
      img {
          width:100%;

      }
  </style>
  <title>Mass Training</title
</head>
<body>

<h1>Arnold Schwarzenegger Blueprint Trainer: Mass Training Overview</h1>
<img src="mass.png" alt="Mass Training" style="width:100%px;height:500px"><br>

<p2>Read this to learn some of Arnold Schwarzenegger's favorite exercises and preferred training techniques for building muscle. Get the knowledge you need to grow!<br><br></p2>
<p1>
  When it comes to bodybuilding, Arnold Schwarzenegger knows best. His plan for quality mass and extreme strength isn't complicated. In fact, it's steeped in the fundamentals and old-school exercises that should be at the heart of everyone's program. It's a surefire road to growth, but it's fraught with pain and struggle. If you want to learn bodybuilding from the world's best bodybuilder, you're in the right place.<br>
  <br>
</p1>
<p>BASICS ARE BEST<br></p>

<p1>"The biggest mistake being made in bodybuilding today is that people aren't covering basic exercises," says the Austrian Oak. And by basic, Arnold doesn't mean easy. Many contemporary fitness centers are full of people on machines, not in squat racks, and big-box gyms often lack even a single platform. Arnold disapproves: "Today, when I go in the gymnasium, I don't see any of the kids learning about the clean and press, or the snatch, or the upright row from the floor."<br>

  Schwarzenegger's insistence on the essential lifts is not due to some grandfatherly desire to live in the past. It comes from decades of continued interest and expertise in the industry, and from the hard-earned knowledge that it doesn't take fancy machines or off-the-wall programming to become arguably the best bodybuilder in history. Get back to your bodybuilding roots and experience unbelievable growth.<br><br>
</p1>

<p>ARNOLD'S BEST LIFTS<br>

  Clean and press: 264 pounds<br>
  Snatch: 243 pounds<br>
  Clean and jerk: 298 pounds<br>
  Squat: 545 pounds<br>
  Bench press: 500 pounds<br>
  Deadlift: 710 pounds<br><br>

  BODY BY ARNOLD<br>
</p>

<p1>A solid training program built on basic movements will take you far, but intensity level separates the alpha wolf from the rest of the pack. "Always go all-out in every set," Arnold says. "Don't save yourself for the next set. That's a mistake that a lot of people make." Your hour in the gym is no time to "take it easy." Every rep and every set must be done with intensity because each one is propelling you toward your goals.<br>

  Here are some of Schwarzenegger's favorite exercises for building an Olympia-ready physique.<br><br>
</p1>
<p>CHEST<br></p>
<p1>"There are three chest exercises that should always be done," Arnold says. "The bench press, the incline bench press at different angles, and the dumbbell flye."<br>

  Arnold was known for the size, shape, and extreme width of his chest, which he credits to an extreme stretch on the flye. "The flye is the exercise that gave me the full pectoral muscle development," he says.<br><br>
</p1>

<p><img src="chest.jpg" alt="Chest" style="width:714px;height:402px"><br></p>
<p1>"Remember, with muscles, the important thing is always to get the stretch and the flex. So to me, going all the way out [on the dumbbell flye]—as far as you can go—and then coming in and touching the dumbbells together and flexing like you're doing the most muscular pose made all the difference. That exercise couldn't be replaced by any machine."<br><br>
</p1>

<p>BACK<br></p>
<p><img src="back.jpg" alt="Back" style="width:364px;height:387px"><br></p>

<p1>"For back, I did chin-ups, bent-over barbell and dumbbell rows, and the T-bar row. Any kind of rowing movement will give you that thickness. Those are the exercises I relied on from the beginning of my career to the end."<br>

  If you already have rows in your regimen, do them without anything supporting your chest. "There are a lot of bodybuilders who have a deficiency in their lower back. You have to let your body free and let the lower back hold you up while you're doing the bent-over rowing," Arnold says, "because that's what gives you strength and thickness in your lower back."<br><br>
</p1>
<p>ARMS<br></p>

<p1>For biceps work, Arnold did curls of all kinds. One technique he used to shock his biceps was to start by doing 1 rep with 275 pounds, and then 2 reps with a little less weight, and then 3 reps with a little less. "This is how I would go up without ever putting the barbell down. I wanted to let the biceps know that they didn't know what was coming, that they weren't going to get used to my training method, and that I had all kinds of tricks up my sleeve."<br><br>
</p1>
<p><img src="arn.jpg" alt="Back" style="width:714px;height:397px"><br></p>
<p1>Arnold relied on the barbell curl to build thick biceps, but he also used incline dumbbell curls and concentration curls to isolate his biceps. "Heavy concentration curls isolated the biceps to create that peak. You need that biceps peak for back shots."<br>

  "For triceps," Arnold says, "we did a lot of narrow [close-grip] bench press in the early days. And then triceps push downs and overhead triceps extensions later."<br><br>
</p1>
<p>SHOULDERS<br></p>
<p1>Arnold's shoulders were built by barbell presses, behind-the-neck barbell presses, lateral raises, military presses, and dumbbell presses. "We always did presses behind the neck and a special dumbbell press which would stretch out the front delt at the bottom and fully flex it at the top. Now those are called Arnold presses."<br><br>
</p1>
<p><img src="shoul.jpg" alt="Shoulder" style="width:714px;height:552px"><br></p>
<p1>"I also did bent-over lateral raises on the 45-degree bench," he continues. "This is a specialty that I learned at [bodybuilder] Vince Gironda's gym. He had a cut out in the bench so you didn't have to look sideways. When you're doing the lateral raises, you turn your wrist outward—it's a fantastic rear-delt exercise."<br><br>
</p1>
<p>LEGS<br></p>
<p1>"The squat is the most important exercise to create big thighs," says Arnold. "I did back squats, front squats, leg extensions, lunges, single-leg deadlifts, good morning exercises, and a lot of leg curls."<br><br>
</p1>
<p>ABS<br></p>
<p1>"The regular training we did for abs was just leg raises, knee raises, crunches, and sit-ups. We all believed in doing 500 reps of Roman chair sit-ups."<br><br>
</p1>
<p>SHOCK THERAPY<br></p>
<p1>When you're training to build muscle, your body can quickly adapt to the same routine. If, on Monday, you consistently go from the bench press to the chin-up bar, your body will eventually get to know all of your "tricks" and will adapt. If your body can prepare, then your training routine gets too easy and you won't see much growth. To avoid that, Arnold broke out the big guns. "You have to go and use the shocking principle," he says.<br>

  The principles Arnold used to shock his body ranged from dropsets, to strip sets, to burn-out sets. Instead of always starting his bench press with 135 and going up from there, Arnold would apply new techniques so his chest didn't know what was coming. "I'd do 20 reps of 315, and then have guys pull off plates. Then I'd do 10 reps of 225, and then I'd have the guys take off another pair of plates. I'd have 135 left and I'd see if I could do 15 or 20 reps."<br><br>
</p1>
<p><img src="olym.jpg" alt="Winner" style="width:714px;height:406px"><br></p>
<p1>A heavy strip set like this would make big differences in Arnold's training: "All the sudden your pectoral muscle is shaking. You don't know what to do because it's cramping and being tortured. It's in pain because you've now shocked the muscle."<br>

  He and his fellow Golden Age legends applied similar methods to all the muscle groups. "One day per week, we would press 110-pound dumbbells for 6 reps—that's all we could do. Then we picked up the 100s and did another 6 reps, then the 90s for another 6. We went all the way down to the 40-pound dumbbells and could barely do 6 reps with them. After that, I can tell you that I did not know where to put my arms because my delts were screaming. They were in pain. Why? Because I shocked the muscle."<br>
</p1>
</body>
</html>
