<!DOCTYPE html>
<html>

<head>
  <style>
      body {
          background-color: black;
      }

      h1 {
          color: orange;
          text-align: center;
      }

      p {
          font-family: "Times New Roman";
          font-size: 25px;
          color: gray;
          text-align: center;
          image-align: center;
      }
      p1 {
          font-family: "Times New Roman";
          font-size: 20px;
          color: white;
          text-align: center;
      }
      img {
          width:100%;
      }
  </style>
  <title>Monday</title>
</head>
<body>
<%= image_tag("day1.jpg", :alt => "Monday")%>
<h1>Big Man On Campus: Week 1, Day 1</h1>
<p>Become the Big Man on Campus. Jumpstart your growth with a mass-building chest and triceps workout.<br></p>
<p1>Maybe there's a girl you want to impress, or you're ready to put "skinny kid" in your rearview. Maybe you need extra size for your sport, or you're just eager to learn and lift for life. Whatever your motivation, I'll help you become Big Man on Campus.<br>

  Today's chest and triceps workout will introduce you to hard work and heavy weight. You'll get to know big dumbbells and short rest periods. After this training session, your chest and triceps will be so pumped you'll have trouble removing your shirt.<br></p1>

<p>Chest/Triceps/Abs<br></p>
<p1>Cardio Warm-up : 5 minutes<br><br>

  Exercises<br>
  NOTE: Increase weight on each working set of each exercise.<br><br>

  Incline Dumbbell Press<br>
  1 Warm-up Set: 8-12 reps, 3 sets of 8-12 reps,60-90 seconds rest<br>
  1 mixed-grip drop set on final set: 21 reps<br><br>
  Incline Dumbbell Flyes<br>

  3 sets of 8-12 reps, 30-60 seconds rest <br>
  Drop set on final set<br><br>

  Dumbbell Bench Press<br>
  4 sets of 6-10 reps, 60-90 seconds rest<br><br>
  Superset<br><br>
  Dips - Chest Version<br>
  3 sets to failure<br><br>

  Modified Push-up<br>
  3 sets to failure, 30 seconds rest between supersets<br>
  Alternative Option : Incline Push-up<br><br>
  Superset<br><br>
  Skull Crushers<br>
  1 Warm-up Set: 8-12 reps <br>
  3 sets of 12-16 reps<br><br>

  Close-Grip Barbell Bench Press<br>
  1 Warm-up Set: 8-12 reps <br>
  3 sets of 12-16 reps, 60 seconds rest between supersets<br><br>
  Exercises<br><br>
  Triceps Pushdown - Rope Attachment<br>

  3 sets of 12-16 reps, 30 seconds rest<br><br>
  Seated Triceps Press<br>
  Overhead Dumbbell Triceps Extension<br>
  Quadruple drop set to failure, No rest<br><br>
  Abs: 4 rounds, no rest between sets<br><br>

  Hanging Knee Raise<br>
  1 set to failure<br><br>

  Swiss Ball Crunch<br>
  1 set to failure<br><br>

  Decline Reverse Crunch<br>
  1 set to failure<br><br>
  Broom Stick Twist <br>
  25 reps<br><br>
  Alternative Option:<br>
  Bicycle Crunch<br>
</p1>
</body>
</html>
